@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(172, 168, 168, 0.65);
}

.app {
  width: 36.25rem;
  height: 18.75rem;
  color: #000;
  margin: 0 auto;
  padding: 1.563rem 3.125rem;
  border-radius: 10px;
  z-index: 2;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.85);
}

.app__input-container {
  position: relative;
  top: 1.25rem;
}

.app__title {
  font-size: 2.188rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.625rem;
  text-transform: capitalize;
}

.app__title--complete {
  animation: complete 4s infinite;
}

.app__form {
  width: 30rem;
  display: flex;
  flex-flow: column;
}

.app__label {
  font-weight: bold;
  margin-left: 0.625rem;
  text-transform: capitalize;
}

.app__input {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
  border: 0.063rem solid #ccc;
  border-radius: 20px;
  background: #fff;
}

.app__button {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  margin-top: 0.938rem;
  border: none;
  text-transform: uppercase;
  background-color: #1589ff;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.app__button:hover,
.app__button:active {
  background-color: #1f45fc;
}

.app__button:focus-visible {
  outline-offset: 0.188rem;
  outline: 0.125rem solid #0af;
}

.app__list {
  margin-left: -2.813rem;
}

.app__list--item {
  display: inline-block;
  font-size: 1.875rem;
  list-style-type: none;
  padding: 0.625rem;
  text-transform: uppercase;
}

.app__list--time {
  display: block;
  font-size: 5rem;
  text-align: center;
}

.app__complete {
  position: relative;
  top: 3.75rem;
}

@media screen and (max-width: 767px) {
  .video-background {
    margin-top: -0.063rem;
  }

  .app {
    min-width: unset;
    width: 100%;
    height: max-content;
    padding: 1.25rem;
    margin: 0 1.25rem;
  }

  .app__input-container {
    top: unset;
    width: 100%;
  }

  .app__title {
    font-size: 1.25rem;
  }

  .app__form {
    width: unset;
  }

  .app__list--item {
    font-size: 0.938rem;
  }

  .app__list--time {
    font-size: 2.5rem;
  }
}

@keyframes complete {
  0% {
    color: rgb(233, 13, 13);
  }
  25% {
    color: rgb(233, 211, 13);
  }
  50% {
    color: rgb(64, 233, 13);
    transform: scale(1.5);
  }
  75% {
    color: rgb(0, 38, 253);
  }
  100% {
    color: rgb(181, 16, 231);
  }
}
